*{
    margin: 0;
    padding: 0;
    font-family: "Lato", sans-serif;
    font-style: normal;
}
  

.header{
    min-height: 100vh;
    width: 100%;
    background-image: url('images/pink.jpeg');
    background-position: center;
    background-size: cover;
    position: relative;
}

nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

nav img {
    width: 130px;
    margin-top: 13px;
    border-radius: 10%;
}

.nav-links{
    flex: 1;
    text-align: right;
}

.nav-links ul li{
    list-style: none;  
    display: inline-block;  
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a{
    color: #000000;
    text-decoration: none;
    font-size: 23px;
} 

.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #efefef;
    display: block;
    margin: auto;
    transition: 0.5s;
} 

.nav-links ul li:hover::after{
    width: 100%;
}

.text-box{
    width: 90%;
    color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.text-box h1{ 
    font-size: 70px;
}

.text-box p{ 
    margin: 10px 0 40px;
    font-size: 20px;
    color: black;
}


.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: #d6d6d6;
    border-radius: 8px;    
    padding: 12px 34px;
    font-size: 18px;
    background: transparent;
    position: relative;
    cursor: pointer;
    
}

.hero-btn:hover{
    background: #000000;
    color: #980063;
    transition: 0.7s;
    border-radius: 8px;

}

nav .fa-solid{
    display: none;
}

@media(max-width: 700px){
    nav img {
        width: 70px;
        border-radius: 10%;
    }
    .text-box h1{ 
        font-size: 30px;
    }
    .nav-links ul li{
        display: block;
    } 
    .nav-links{
        position: absolute;
        background: #626262;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    } 
    nav .fa-solid{
        display: block;
        color: #000000;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    .nav-links ul{
        padding: 30px;
    }

}

/*-- IDK --*/

.idk{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

.idk h1 {
    font-size: 36px;
    font-weight: 600;
}

.idk p{
    color: black;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.column{
    flex-basis: 31%;
    background: #d6d6d6;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}

.idk h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}
.column:hover{
    box-shadow: 0 0 20px 0px rgba(85,15,46,0.3);
    cursor: pointer;
}
@media(max-width: 700px){
    .row{
        flex-direction: column;
    }
}

/*-- Areas Of Interest --*/

.AOI{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}
.AOI-col{
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}

.AOI-col img{
    width: 100%;
    display: block;
}

.AOI p{
    font-weight: 300;
    padding: 10px;
}

.layer{
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}

.layer:hover{
    background: rgba(229, 231, 250, 0.7);
}

.layer h3{
    width: 100%;
    font-weight: 600;
    color: #c4408c;
    font-size: 26px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5;
}


.layer:hover h3{
    bottom: 49%;
    opacity: 1;
}

.BSTM{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}

.BSTM p{
    font-weight: 300;
    padding: 10px;
}

.BSTM-col{
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
}

.BSTM-col img{
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
    width: 370px;
    height: 370px;
}

.BSTM-col h3{
    text-align: center;
    margin-top: 16px;
    margin-bottom: 15px;
}

.BSTM-col p{
    font-weight: 300;
    padding: 0;
}

/*-- Call to Action --*/

.cta{
    margin: 65px auto;
    width: 80%;
    background-image: url('images/sky.jpeg');
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 85px 0;
}

.cta h1{
    margin-bottom: 40px;
    padding: 0;
    color: #efefef;
    font-weight: 500;
}

.ctct-btn{
    display: inline-block;
    text-decoration: none;
    color: #980063;
    border-radius: 8px;    
    padding: 12px 34px;
    font-size: 18px;
    background: #ffffff6e;
    border: 1px solid #980063;
    position: relative;
    cursor: pointer;
}


.ctct-btn:hover{
    background: #980063;
    color: #ffffff;
    transition: 0.5s;
    border-radius: 8px;
    cursor: pointer;
}

@media(max-width: 700px) {
    .cta h1{
        font-size: 24px;
    }
}

/*-- Footer --*/

.footer{
    width: 100%;
    text-align: center;
    padding: 20px 0;
}

.footer h4{
    margin-bottom: 15px;
    margin-top: 10px;
    font-weight: 600;
}

.footer p{
    font-weight: 300;
}

.icons .fa-brands{
    color: #980063;
    margin: 0 3px;
    cursor: pointer;
    padding: 10px 0;
}

.fa-regular{
    color: #980063;
}

/*-- About Me Page --*/

.sub-header{
    height: 50vh;
    width: 100%;
    background-image: url('images/pink.jpeg');
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #efefef;
}

.sub-header h1{
    margin-top: 85px;
    font-size: 50px;
    color: #d6d6d6;
}

.about-us{
    width: 80%;
    margin: auto;
    padding-top: 0px;
    padding-bottom: 50px;
}

.about-col{
    flex-basis: 48%;
    padding: 30px 2px;
}

.about-col img{
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 0 20px 0px rgba(85,15,46,0.3);
}

.about-col h1{
    padding-top: 0;
}

.about-col p{
    padding: 15px 0 25px;
    font-weight: 300;
}

.pink-btn{
    border: 1px solid #980063;
}

/*-- Blog Page --*/

.blog-content{
    width: 80%;
    margin: auto;
    padding: 60px 0;
}

.blog-left{
    flex-basis: 65%;
}

.blog-left img{
    width: 100%;
}

.blog-left h2{
    margin: 30px 0;
    font-weight: 600;
}

.blog-left p{
    font-weight: 300;
    padding: 0;
}

.blog-right{
    flex-basis: 32%;
}

.blog-right h3{
    background: #980063;
    color: #efefef;
    padding: 7px 0;
    font-size: 16px;
    margin-bottom: 20px;
    text-align: center;
}

.blog-right div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #000000;
    padding: 8px;
    box-sizing: border-box;
}

.comment-box{
    border: 1px solid #980063;
    margin: 50px 0;
    padding: 10px 20px;
    background: #9800632c;
    border-radius: 10px;
}

.comment-box h3{
    text-align: left;
    color: #2a2a2a;
}

.comment-form input, .comment-form textarea{
    width: 100%;
    padding: 10px;
    margin: 15px 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    background: #efefef;
    border-radius: 10px;
}

.comment-form button{
    margin: 10px 0;
}

@media(max-width:700px){
    .sub-header h1{
        font-size: 24px;
    }
}

